body {
  margin: 0;
}

#sse {
  display: flex;
  width: calc(100% - 5px * 2);
  height: calc(100vh - 5px * 2);
}

#sse #names {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  justify-content: space-between;
  align-content: flex-start;
}

#sse #names .name {
  padding: 5px 10px;
  background: #191919;
  color: #fff;
  margin: 2px;
  border-radius: 3px;
  width: calc(30% - 20px);
  text-align: center;
  cursor: pointer;
}

@media (max-width: 750px) {
  #sse #names .name {
    width: calc(49% - 25px);
  }
}

#sse #names .name span {
  display: block;
}

#sse #names .name button {
  background: #fff;
}

#sse #players {
  width: 50%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
}

#sse #players .player {
  height: fit-content;
  width: calc(33% - 4px);
  margin-top: 5px;
  margin-bottom: 5px;
  background: #191919;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  border: solid 2px #191919;
}

@media (max-width: 750px) {
  #sse #players .player {
    width: 49%;
  }
}

#sse #players .player * {
  width: 100%;
}

#sse #players .player audio {
  margin: 0px 4px;
  width: calc(100% - 4px * 2);
}

#sse #players .player button {
  cursor: pointer;
  border-radius: 0px;
  border: none;
}

#sse #players .player input {
  box-sizing: border-box;
  margin-bottom: 5.5px;
  transform: translateY(-3px);
}

#sse #players .player .volume {
  width: 100%;
  height: 13px;
}

#sse #players .player .volume .bar_back {
  background: #fff;
  height: 5px;
  margin: 10px 5px;
  width: calc(100% - 10px);
  position: relative;
}

#sse #players .player .volume .bar_back .bar {
  height: 100%;
  width: 100%;
  background: #efefef;
}

#sse #players .player .volume .bar_back .point {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  background: #fff;
  cursor: grab;
}

#sse #players .player .volume .bar_back .point:active {
  cursor: grabbing;
}
